// Default variables.
@import 'default-variables';

$color-text:#414042;
$color-theme:#d83454;
$color-link:#d51c40;
$color-bgsoft:#f1f2f2;


// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/_bootstrap.scss';
@import '../bootstrap/assets/stylesheets/bootstrap/mixins/_border-radius.scss';

// Base-theme overrides. 
@import 'overrides'; 
@import "_mixin.scss";

@include font-face(MuseoSans300, 'fonts/../../fonts/museosans-300-webfont', 300, normal, eot woff2 woff); 

@import "layout.scss";
@import "h100vh.scss"; 
@import "flex-slider.scss";
@import "blocks.scss";












